---
import BarMenu from "./BarMenu/BarMenu.astro";
import HamburgerMenu from './HamburgerMenu/HamburgerMenu.jsx';
import { executeQuery } from "../../../utils/queries/executeQuery.js";

const { queryName, className = "" } = Astro.props;
const menuItems = await executeQuery(queryName);
---
<nav class={`hierarchical-menu ${className}`} aria-label="Main Navigation">
  <div class="bar-menu">
    <BarMenu className="bar-menu" menuItems={menuItems} />
  </div>
  <div class="hamburger-menu">
    <HamburgerMenu 
      Width="75%" 
      client:load 
      menuItems={menuItems} 
    />
  </div>  
</nav>

<style>
  @media (max-width: 768px) {
    .bar-menu {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
  }
  @media (min-width: 768px) {
    .bar-menu {
      display: block;
    }
    .hamburger-menu {
      display: none;
    }
  }
</style>
