---
const { logo, navigation, siteTitle } = Astro.props;
---
<header>
  <nav>
    <a href="/">
      <!-- Display the site title within the <h1> tag -->
      <h1>{siteTitle}</h1>
      <img src={logo} alt="Site Logo" width="115" height="48" />
    </a>
    <ul class="nav-links">
      {navigation.map((item) => (
        <li>
          <a href={item.href}>{item.name}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  header {
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  .nav-links li a {
    text-decoration: none;
  }
  .nav-links li a:hover {
    text-decoration: underline;
  }
  img {
    display: block;
    margin-left: 0.5rem; /* Optional: Add some spacing between title and logo */
  }
  h1 {
    margin: 0; /* Remove default margin */
    font-size: 1.5rem; /* Adjust as needed */
    color: #333; /* Adjust color as needed */
  }
</style>
