---
import SubMenu from "./SubMenu.jsx";
import MenuItem from "../../MenuLink.astro";
import Arrow from "../Arrow/Arrow";

const { menuItems, className = "" } = Astro.props;
---
<ul class={`flex gap-4 m-0 p-0 list-none ${className}`} role="menubar">
  {menuItems.map((item) => (
    <li class="menu-item relative cursor-pointer hover:bg-gray-f0 px-2 py-1" role="none">
      <MenuItem
        label={item.label}
        href={item.href}
        hasChildren={item.children && item.children.length > 0}
        className="menu-item"
      />
      {item.children && item.children.length > 0 && (
        <>
          <Arrow />
          <SubMenu items={item.children} />
        </>
      )}
    </li>
  ))}
</ul>
