---
import { executeQuery } from '../../../utils/queries/executeQuery.js';
import BarMenu from './BarMenu/BarMenu.astro';
import HamburgerMenu from './HamburgerMenu/HamburgerMenu.jsx';
import HamburgerIcon from './HamburgerMenu/HamburgerIcon.astro';

const { queryName, className = '', hamburgerOnly = false } = Astro.props;

const query = await executeQuery(queryName);
---

<nav class={`hierarchical-menu ${className}`} aria-label="Main Navigation">
  {!hamburgerOnly && (
    <div class="bar-menu hidden md:block">
      <BarMenu className="bar-menu" queryName={query} />
    </div>
  )}

  {/*
    If hamburgerOnly === false => show hamburger on <md
    If hamburgerOnly === true => show hamburger always
  */}
  <div
    class={
      hamburgerOnly
        ? "hamburger-menu block"
        : "hamburger-menu block md:hidden"
    }
  >
    <!-- 1) Our new static icon -->
    <HamburgerIcon />

    <!-- 2) The React side-drawer logic (loads client-side) -->
    <HamburgerMenu
      client:load
      queryName={query}
      Width="60%"
      showCloseButton={true}
      className="mt-0"
    />
  </div>
</nav>
